# Configure project on machine
*.iml
.idea/

# Target's
*/target/

# Node files
NinjaClient/package-lock.json
NinjaClient/node_modules/
NinjaClient/node/

# Resources
/NinjaServer/src/main/resources/public/
